@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* share style */
.display-flex {
  display: flex;
}
.main-section {
  width: 1440px;
  background-image: url(../assets/bg.png);
  margin: 0 auto;
}
.primary-btn {
  width: 200px;
  height: 50px;
  background-color: orange;
  color: white;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px auto;
  border: none;
  cursor: pointer;
}
.orange {
  color: orange;
}
.sky-blue {
  color: skyblue;
}
.gree-blue {
  color: #05d4df;
}
.night-blue {
  color: #5d58ef;
}
.section-title{
    text-align: center;
    margin: 60px auto;
    font-size: 3rem;
    font-weight: bold;
}
/* navbar style start */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-image: none;
}
.brand {
  align-items: center;
  gap: 11px;
}
.brand h2 {
  font-weight: bold;
  font-size: 2rem;
}
.nav-items ul {
  gap: 32px;
}
.nav-items ul li {
  list-style: none;
}
.nav-item {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.menu-icon{
    display: none;
}
/* hero style start */
.hero-section {
  justify-content: space-between;
  align-items: center;
  background-image: none;
}
.hero-title {
  font-size: 3.8rem;
  font-weight: bold;
}
.hero-description {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 24px auto;
}
.enroll-btn {
  background-color: black;
  color: white;
}
/* Curriculam style here */

.curriculam-item{
    height: 470px;
    width: 370px;
    text-align: center;
    padding: 50px 40px;
    box-shadow: 0 0 70px -26px rgba(0, 0, 0, 0.374);
    border-radius: 19px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(222, 245, 255, 1));
}
.color-item1{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255, 244, 220, 1));    
}
.color-item2{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(242, 232, 255, 1));
}
.curriculam-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px auto;
}
.curriculam-items{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 0 auto;
}
.curriculam-description{
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
    margin: 30px auto;
}
.text-decoration{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.slide-option{
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 80px;
}
.slide-bar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 40px;
    
}
.fa-solid{
    position: relative;
    top: 17px;
    left: 20px;
}
/* our stories style here */
.our-stories{
  background-image: url(../assets/bg.png);
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(254, 163, 1, 0.3)); */
  background-color: #fea10141;
  width: 100%;
}
.story-head{
 font-size: 3rem;
 font-weight: bold;
padding-top: 50px;
 
}
.our-sories-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.big-card{
  height: 630px;
  width: 540px;
  background-color: white;
  border-radius: 16px;
}
.big-card-img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.card-date{
  height: 47px;
  width: 174px;
  border-radius: 47px;
  position: relative;
  bottom: 30px;
  left: 30px;
  background-color: #3CD8E8;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  padding: 14px 18px;
}

.card-title{
  font-size: 1.5;
  font-weight: bold;
  padding: 40px 60px;

}
.card-description{
  font-size: 1rem;
  font-weight: 400;
  padding: 0 60px;
}
.small-card-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.small-card{
  height: 300px;
  width: 290px;
  background-color: white;
  border-radius: 16px;
}
.card-img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.small-card-date{
  height: 38px;
  width: 174px;
  color: white;
  font-size: 1rem;
  font-size: bold;
  background-color: #95B226;
  position: relative;
  bottom: 20px;
  left: 20px;
  border-radius: 16px;
  padding: 9px 15px;
}
.small-card-title{
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 40px; 
}
.view-btn{
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
  margin: 70px auto;
}
.story-last-btn{
  text-align: center;
}


/* responsive style */
@media screen and (max-width: 576px) {
  .main-section {
    width: 100%;
  }
  .navbar{
    align-items: center;
  }
  .brand img{
    margin-left: 20px;
  }
  .menu-icon{
    display: contents;
    font-size: 40px;
    margin-right: 50px;
  }
  .fa-bars{
    margin-right: 50px;
    margin-bottom: 15px;
  }
  .brand h2,
  .nav-items,
  .contact-btn,
  .big-card {
    display: none;
  }
  .hero-section{
    margin-top: 20px;
    flex-direction: column-reverse;
  }
  .hero-img img,
  .small-card-containe,
  .small-card{
    width: 100%;
    padding: 0 20px;
  }
  .hero-content{
    text-align: center;
  }
  .hero-title{
    font-size: 2rem;
  }
  .hero-description{
    padding: 0 20px;
  }
  .section-title{
    font-size: 1.8rem;
  }
  .curriculum{
    width: 100%;
    margin: 0 auto;
  }
  .curriculam-items{
    flex-direction: column;
}
.slide-option{
    display: none;
}


}
